---
// It might not be a sprint, but it can be a 5k.
---
<div class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-semibold">
        Overcome the techno-babble
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-8">
        <div class="flex flex-col gap-y-4">
            <h3 class="text-xl">Ride the LLM Wave</h3>
            <p class="text-gray-500">
                The hype of AI is driving everyone to adopt
                <abbr title="Large Language Models">LLM</abbr>'s.
                It's not the magic cure-all people want it to be, but
                it can be effective at specific tasks.

            </p>
            <p class="text-gray-500">
                Make sure that YOUR adoption provides lasting value.
            </p>

        </div>
        <div class="flex flex-col gap-y-4">
            <h3 class="text-xl">Modernize your Systems</h3>
            <p class="text-gray-500">
                Are there small moves that you can make to achieve
                a material impact to your business agility? Discussing
                business objectives, combined with current challenges
                can help you find the big leverage points in your system.
            </p>
        </div>
        <div class="flex flex-col gap-y-4">
            <h3 class="text-xl">Embrace a Product Mindset</h3>
            <p class="text-gray-500">
                Are you a first time system builder? Let me help you make
                the shift from requesting features, to structuring a roadmap
                that will align with the business, and make for a successful release.
            </p>
        </div>
    </div>
</div>