---
// It might not be a sprint, but it can be a 5k.
---
<div class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-semibold">
        Overcome the techno-babble
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-8">
        <div class="flex flex-col gap-y-4">
            <h3 class="text-xl">Ride the LLM Wave</h3>
            <p>
                Don't get swept away by the turbulent LLM currents, instead
                stay above the waves, and ride them to success.
            </p>
            <p>
                The hype of the AI is driving everyone to adopt LLM's. How can you
                make sure that YOUR adoption provides lasting value.
            </p>
        </div>
        <div class="flex flex-col gap-y-4">
            <h3 class="text-xl">Modernize your Systems</h3>
            <p>Are there small moves that you can make to achieve a material impact
            to your business agility?
            </p>
            <p>
            As someone that goes deep into each technology, and has a fundamental
            understanding of business I can help you understand which tools are
            real game changers, and which are just marketing hype.
            </p>
        </div>
        <div class="flex flex-col gap-y-4">
            <h3 class="text-xl">Embrace a product mindset</h3>
            <p>
                If you are looking to migrate to a product mindset, let me help
                you make the mental shift into this.
            </p>
            <p>
                As you dive into this process, you will find there is a lot to understand
                let's build a roadmap that will let you make small steps towards success.
            </p>
        </div>
    </div>
</div>