---
import { Image } from "astro:assets";
import diagram from "../../assets/causal-loop-diagram.webp";
import { Content, frontmatter } from "./hero.mdx";
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-8">
    <div class="flex flex-col gap-y-4 ">
        <h1 class="text-4xl md:text-6xl dark:text-dim-300">
            Your Digital
            <abbr>
                GC
                <span class="bg-blue-100 rounded text-base shadow font-normal">and I don't mean Garbage Collection</span>
            </abbr>
        </h1>



        <p class="text-bright-600 max-w-96 dark:text-dim-500">
            {frontmatter.summary}
        </p>
        <!--<div id="loop-container" class="hidden md:block">-->
        <!--    <Image id="loop" src={diagram} alt="causal loop" />-->
        <!--</div>-->
    </div>
    <div class="flex flex-col gap-y-4">
            <h2 class="text-4xl">A Helping Hand</h2>
            <p class="text-bright-600 dark:text-dim-500">
                I’ve spent a career studying software development practices, along with the how and why of businesses. This hybrid approach has given me a unique insight into how businesses operate, and where efficiencies can be gained.
            </p>
            <p class="text-bright-600 dark:text-dim-500">
                My superpower has been my ability to explain modern technology in simple terms that you and your team can understand — allowing you to make effective decisions, and avoid the inevitable bike shedding.
            </p>
    </div>
</div>
<style>
    /* skew the image to give it more depth */
    #loop-container {
        perspective: 1000px;
        overflow: hidden;
    }
    #loop {
        margin-top:-100px;
        /* transform: skew(15deg, 15deg); */
        transform: perspective(1000px) rotateX(60deg) rotateY(-10deg) skew(20deg, 10deg);
        transform-origin: center;
        margin-bottom: -70px;
    }


    abbr {
        text-decoration: underline dotted;
        anchor-name: --abbr;

        &:hover {
            & span {
                display: block;

            }
        }

        & span {
            display: none;
            margin: 0;
            inset: auto;
            padding: 0.5rem;

            position: absolute;
            position-anchor: --abbr;
            top: anchor(bottom);
            left: anchor(left)
        }
    }

</style>