---
import KeyOffer from "../KeyOffer.astro";
---
<div class={'grid grid-cols-1 lg:grid-cols-2 gap-y-4'}>
    <KeyOffer item="Advisory">
        You've made the strategic decision. Let me remove the techno-babble and help you find the right path.
    </KeyOffer>

    <KeyOffer item="Implementation">
        Need help getting a project across the finish line? I can help.
    </KeyOffer>

    <KeyOffer item="Mentoring">
        Have a great team member, that's ready for more? Let's chat.
    </KeyOffer>
</div>