---
import Deck from "../Deck.astro";
---

<div class="pb-8">
    <div class="px-8 font-headings text-xs flex gap-x-2">
        On Deck:
        <span class="text-bright-400">
            Always Be Learning
        </span>
    </div>
    <div class="px-8 grid grid-cols-2 gap-x-8">
        <Deck key="message-aid" />
        
    </div>
</div>