---
import { Content } from '../../content/complex.mdx'
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-8">
    <div class="prose dark:prose-invert">
        <Content />
    </div>

    <div>
        <em>Pencil sketch map</em>
    </div>
</div>