@import "tailwindcss";

/* class based toggle */
@custom-variant dark (&:where(.dark, .dark *));

@plugin '@tailwindcss/typography';

@layer base {  
	/* start my base */
	/* links: https://frontendmasters.com/blog/chilled-out-text-underlines/ */
	a {
	  color: var(--color-blue-600);
	  text-decoration: underline;
	  text-underline-offset: 2px;
	}
  
	a:not(:is(:hover, :focus)) {
	  text-decoration-color:
			  color-mix(in srgb, currentColor, transparent 75%);
	}
  }
  
@theme {
	/* the default font */
	--font-sans: "Open Sans Variable";
	--font-headings: "Outfit Variable";

	/* background colors for light mode */
	/* a blue tinted gray */
	--color-bright-50: var(--color-slate-50);
	--color-bright-100: var(--color-slate-100);
	--color-bright-200: var(--color-slate-200);
	--color-bright-300: var(--color-slate-300);
	--color-bright-400: var(--color-slate-400);
	--color-bright-500: var(--color-slate-500);
	--color-bright-600: var(--color-slate-600);
	--color-bright-700: var(--color-slate-700);
	--color-bright-800: var(--color-slate-800);
	--color-bright-900: var(--color-slate-900);
	--color-bright-950: var(--color-slate-950);

	/* background colors for dark mode */
	/* cooler than stone */
	--color-dim-50: var(--color-zinc-50);
	--color-dim-100: var(--color-zinc-100);
	--color-dim-200: var(--color-zinc-200);
	--color-dim-300: var(--color-zinc-300);
	--color-dim-400: var(--color-zinc-400);
	--color-dim-500: var(--color-zinc-500);
	--color-dim-600: var(--color-zinc-600);
	--color-dim-700: var(--color-zinc-700);
	--color-dim-800: var(--color-zinc-800);
	--color-dim-900: var(--color-zinc-900);
	--color-dim-950: var(--color-zinc-950);

	--color-legal-50: var(--color-amber-50);
	--color-legal-100: var(--color-amber-100);
	--color-legal-200: var(--color-amber-200);
	--color-legal-300: var(--color-amber-300);
	--color-legal-400: var(--color-amber-400);
	--color-legal-500: var(--color-amber-500);
	--color-legal-600: var(--color-amber-600);
	--color-legal-700: var(--color-amber-700);
	--color-legal-800: var(--color-amber-800);
	--color-legal-900: var(--color-amber-900);
	--color-legal-950: var(--color-amber-950);

	/* surface colors */
	--color-surface-light-0: var(--color-bright-50);
	--color-surface-light-1: var(--color-bright-100);
	--color-surface-light-2: var(--color-bright-300);

	--color-surface-dark-0: #040e18;
	--color-surface-dark-1: #061929;
	--color-surface-dark-2: #09243b; /* starting point */
}


