---
import Intro from "../components/HomePage/Intro.astro";
import Hero2 from "../components/HomePage/Hero2.astro";
import TechnicalJungle from "../components/HomePage/TechnicalJungle.astro";
import Layout from "../layouts/Layout.astro";
import Diff from "../components/HomePage/Diff.astro";
import OnDeck from "../components/HomePage/OnDeck.astro";
---

<Layout>
	<!-- increase the breathing room -->
	<div class="flex flex-col gap-y-24 bg-bright-100 rounded-2xl px-8 py-16">
		<Hero2 />
		<Diff />
		<TechnicalJungle />

		<Intro />
	</div>
	<OnDeck />
</Layout>
