---
import Intro from "../components/HomePage/Intro.astro";
import Hero from "../components/HomePage/Hero.astro";
import TechnicalJungle from "../components/HomePage/TechnicalJungle.astro";
import Layout from "../layouts/Layout.astro";
import ProjectBar from "../components/HomePage/ProjectBar.astro";
import Diff from "../components/HomePage/Diff.astro";
---

<Layout>
	<!-- increase the breathing room -->
	<div class="flex flex-col gap-y-16">
		<Hero />
		<Diff />
		<ProjectBar />
		<TechnicalJungle />
		<Intro />
	</div>
</Layout>
