---
import { Content, getHeadings } from "../content/privacy.md";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="prose prose-a:text-primary-600 prose-em:bg-legal-100 prose-em:uppercase">
        <Content />
    </div>
</Layout>
