---
import Positioning from "../components/Search/Positioning.astro";
import HeroIdentity from "../components/Search/HeroIdentity.astro";
import AboutDru from "../components/Search/AboutDru.astro";
import Layout from "../layouts/Layout.astro";
import SearchRevolver from "../components/Search/SearchRevolver.tsx";
import Services from "../components/Search/Services.astro";
import LatestPost from "../components/Search/LatestPost.astro";
---

<Layout>
    <!-- increase the breathing room -->
    <div class="flex flex-col gap-y-24 bg-bright-100 rounded-2xl px-8 py-16">
        <HeroIdentity />
        <SearchRevolver client:load />
        <Services />
        <Positioning />
        <LatestPost />
        <AboutDru />
    </div>
</Layout>
