<a href="https://savvycal.com/acuriousmind/30min"
   target="_blank"
   class="rounded bg-(--action-primary-bg) px-4 md:px-8 py-2 flex items-center text-(--action-primary-text) font-headings dark:bg-blue-900 no-underline">
    Book a Call
</a>