<a href="https://savvycal.com/acuriousmind/30min"
   target="_blank"
   class="rounded bg-blue-200 px-4 md:px-8 py-2 flex items-center text-blue-600 font-headings dark:bg-blue-900 dark:text-blue-200 no-underline">
    Book a Call
</a>