---
interface Props {
    title: string
    level: string
}

const { title } = Astro.props

---
<div class="bg-blue-100 dark:bg-blue-900 rounded px-4 py-2">
    <div class="font-bold font-headings">
        {title}</div>
    <div class="prose-sm">
        <slot />
    </div>
</div>