---
import Logo from "../assets/acm.svg";
import BookACallButton from "./BookACallButton.astro";

const height = 25
const width = (79/10) * height
---
<div class="flex justify-between">
    <div class="flex flex-col">
        <h1 class="text-3xl text-blue-300">
            <a href="/" class="text-black dark:text-white" alt="A Curious Mind Logo">
                 <Logo height={height} width={width} />
                <!--A Curious Mind-->
            </a>
        </h1>
        <div class="text-xs flex">
            <span class="text-bright-400">the professional side of</span>
            <a target="_blank" href="https://drusellers.com" class="ml-[1ch]">
                <!--<Image src={sig} alt="Dru Sellers" height="30"/>-->
                Dru Sellers
            </a>
        </div>
    </div>
    <div class="flex space-x-2">
        <BookACallButton />
    </div>
</div>