<div class="flex justify-between">
    <div class="flex flex-col">
        <h1 class="text-3xl text-blue-300">
            <a href="/">A Curious Mind</a>
        </h1>
        <div class="text-xs">
            <span class="text-bright-400">the professional side of</span>
            <a target="_blank" href="https://drusellers.com">Dru Sellers</a>
        </div>
    </div>
    <div class="flex space-x-2">
        <a href="https://savvycal.com/acuriousmind/30min"
           target="_blank"
           class="rounded bg-blue-200 px-4 md:px-8 py-2 flex items-center text-blue-600 font-headings dark:bg-blue-900 dark:text-blue-200">
            Book a Call
        </a>
    </div>
</div>