---
import { Image } from 'astro:assets';
import logo from '../assets/acm.svg'
import sig from '../assets/signature.svg'
---
<div class="flex justify-between">
    <div class="flex flex-col">
        <h1 class="text-3xl text-blue-300">
            <a href="/">
                 <Image src={logo} height="25" alt="A Curious Mind" />
                <!--A Curious Mind-->
            </a>
        </h1>
        <div class="text-xs flex">
            <span class="text-bright-400">the professional side of</span>
            <a target="_blank" href="https://drusellers.com" class="ml-2">
                <!--<Image src={sig} alt="Dru Sellers" height="30"/>-->
                Dru Sellers
            </a>
        </div>
    </div>
    <div class="flex space-x-2">
        <a href="https://savvycal.com/acuriousmind/30min"
           target="_blank"
           class="rounded bg-blue-200 px-4 md:px-8 py-2 flex items-center text-blue-600 font-headings dark:bg-blue-900 dark:text-blue-200">
            Book a Call
        </a>
    </div>
</div>