---
interface Props {
	content: string;
}
const { content } = Astro.props;
---

<div class="not-prose">
    <pre class="mermaid">
    {content}
    </pre>
</div>
<script>
    import mermaid from 'mermaid'
    mermaid.initialize({
        theme: 'base',
    });
</script>