<!-- inset is a short hand for top,bottom,left, right -->
<div class={"text-gray-900 text-sm absolute inset-x-1/2 top-8 "}>
    <div class="bg-gray-100 flex justify-center w-10 border border-gray-800 rounded">
    <pre class="sm:hidden">xs</pre>
    <pre class="hidden sm:block md:hidden">sm</pre>
    <pre class="hidden md:block lg:hidden">md</pre>
    <pre class="hidden lg:block xl:hidden">lg</pre>
    <pre class="hidden xl:block 2xl:hidden">xl</pre>
    <pre class="hidden 2xl:block">2xl</pre>
    </div>
</div>