---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
const allProjects: CollectionEntry<"projects">[] =
	await getCollection("projects");
---
<Layout>
    <div class="text-(--text-primary)">
        Projects
    </div>
    <div>
        {allProjects.map((p) => {
            return <div class="text-(--text-primary)">{p.data.title}</div>
        })}
    </>
</Layout>