---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
const allProjects: CollectionEntry<"projects">[] =
	await getCollection("projects");
---
<Layout>
    aoeu
    <div>
        {allProjects.map((p) => {
            return <div>{p.data.title}</div>
        })}
    </>
</Layout>