---
import Layout from "../../layouts/Layout.astro";
import {type CollectionEntry, getCollection} from 'astro:content';
const allProjects : CollectionEntry<'project'>[] = await getCollection('projects');
---
<Layout>
    aoeu
    <div>
        {allProjects.map((p) => {
            return <div>{p.data.title}</div>
        })}
    </>
</Layout>