---
import BookACallButton from "../BookACallButton.astro";
---
<!-- a two column component -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-8 bg-surface-light-2 dark:bg-surface-dark-2 p-8 pb-8 rounded">
    <div>
        <BookACallButton />
    </div>
    <div class="prose dark:prose-invert">
        CTA 1
    </div>
</div>