---
interface Props {
  headline: string;
  punch: string
}

const { headline, punch } = Astro.props;
---
<div>
    <div class="text-(--text-muted) text-sm">{headline}</div>
    <div class="text-(--text-primary) text-2xl font-bold">{punch}</div>
    <div class="prose dark:prose-invert">
        <slot />
    </div>
</div>